@import "./variables/variables";
@import "./fonts/fonts";
@import "./mixins/mixin";
@import "_reset.scss";
@import "./components/btn";
@import "./components/nav";
@import "./components/hero";
@import "./components/post";
@import "./components/title";
@import "./components/instagram";
@import "./components/footer";

.container {
  box-sizing: border-box;
  padding: 20px;
  @include mq("tablet") {
    width: 768px;
    margin: auto;
  }
  @include mq("desktop") {
    min-width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  @include mq("tablet") {
  margin-top: 10px;
  }
}
