@import url("https://fonts.cdnfonts.com/css/roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.toggle-button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 45px;
  height: 37px;
  background: #000000;
  cursor: pointer;
  border: none;
  padding: 0;
}
.toggle-button--active {
  gap: 0;
}
.toggle-button--active .toggle-button__bar:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}
.toggle-button--active .toggle-button__bar:nth-child(2) {
  display: none;
}
.toggle-button--active .toggle-button__bar:nth-child(3) {
  transform: rotate(135deg);
  position: absolute;
}
.toggle-button__bar {
  display: block;
  width: 17px;
  height: 2px;
  background: #ffffff;
}
@media only screen and (min-width: 768px) {
  .toggle-button {
    display: none;
  }
}

.nav {
  position: absolute;
  display: none;
  right: 20px;
  top: 57px;
  width: 180px;
}
.nav--active {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 0;
    top: 0;
    width: 100%;
  }
}
.nav__list {
  background: #f5f5f5;
}
@media only screen and (min-width: 768px) {
  .nav__list {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__list {
    gap: 50px;
  }
}
.nav__link {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 11px;
  color: #4e4e4e;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.1px;
}
.nav__link:hover {
  background: #e5e5e5;
}
.nav__link--active {
  color: #57a4a4;
}
@media only screen and (min-width: 768px) {
  .nav__link:hover {
    background: transparent;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__link:hover {
    background: transparent;
  }
}

.hero {
  margin-bottom: 40px;
}
.hero__pic {
  width: 100%;
}

.post {
  margin-bottom: 75px;
}
@media only screen and (min-width: 1200px) {
  .post__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.post__item {
  padding-top: 25px;
}
.post__item:nth-child(4) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .post__item {
    display: flex;
    gap: 20px;
  }
  .post__item:nth-child(4) {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .post__item {
    max-width: 585px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .post__content {
    width: 385px;
  }
}
.post__title {
  padding-top: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 30px;
}
.post__title--white {
  color: #fefefe;
}
@media only screen and (min-width: 768px) {
  .post__title {
    font-size: 16px;
  }
}
.post__comments {
  display: flex;
  gap: 20px;
}
.post__theme {
  position: relative;
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 11px;
  color: #7c7c7c;
  font-weight: 400;
  line-height: 20px;
}
.post__theme:first-child::after {
  content: "/";
  position: absolute;
  right: -12px;
}
.post__comment {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 11px;
  color: #7c7c7c;
  font-weight: 400;
  line-height: 20px;
}
.post__description {
  display: none;
}
@media only screen and (min-width: 768px) {
  .post__description {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: #5c5c5c;
    font-weight: 400;
    line-height: 26px;
  }
}

.title {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 22px;
}
.title--white {
  color: #fefefe;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 16px;
  }
}

.instagram {
  margin-bottom: 20px;
}
.instagram__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.instagram__link {
  display: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  .instagram__link {
    display: block;
  }
}
.instagram__gallary {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .instagram__gallary {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
.instagram__item {
  display: none;
}
.instagram__item:nth-child(1) {
  display: block;
}
@media only screen and (min-width: 768px) {
  .instagram__item {
    width: 250px;
    height: 250px;
    display: block;
  }
  .instagram__item:nth-child(4) {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .instagram__item {
    width: 285px;
    height: 285px;
  }
  .instagram__item:nth-child(4) {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .instagram__pic {
    width: 100%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  gap: 15px;
  background: #000000;
}
.footer__description {
  width: 320px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  color: #b9b9b9;
  font-weight: 400;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .footer__description {
    width: 100%;
  }
}
.footer__socials-list {
  display: flex;
  gap: 5px;
}
.footer__socials-link {
  text-decoration: none;
}
.footer__socials-link .rss {
  color: #f8902e;
  border: 2px solid #f8902e;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__socials-link .facebook {
  color: #39599f;
  border: 2px solid #39599f;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__socials-link .twitter {
  color: #45b0e3;
  border: 2px solid #45b0e3;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__socials-link .dribbble {
  color: #d97ab0;
  border: 2px solid #d97ab0;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__socials-link .pinterest {
  color: #cc212c;
  border: 2px solid #cc212c;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.footer__contact-link {
  display: block;
  text-decoration: none;
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #b9b9b9;
  font-weight: 400;
  line-height: 24px;
}
.footer__contact-link:nth-child(1):after, .footer__contact-link:nth-child(2):after {
  content: "/";
  position: absolute;
  right: -15px;
}

.container {
  box-sizing: border-box;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-top: 10px;
  }
}/*# sourceMappingURL=main.css.map */