
body {
    background-image: url(/img/fon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

li, p {
    display: inline-block;
}

.wrapper {
    margin: 0 auto;
}
.container-nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.navigation {
    width: 100%;
    height: 54px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-items {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    margin-right: 79px;
}

li > .nav-icon {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.icon:hover {
    fill:#01813F;
}

.sign-items {
    margin-left: 27px;
    margin-top: 5px;
}

.sign-item:hover{
    color: #01813F;
    }

.line {
    height: 19px;
    border-left: 1px solid #FFFFFF;
    margin-left: 25px;
    margin-top: 3px;
    box-sizing: border-box;
}

.sign-item {
    display: inline-block;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

}
.nav-subtitle {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 79px;
    margin-top: 18px;
    text-decoration: none;
}

.nav-subtitle:hover {
    color: #01813F;
}

.main {
    height: calc(100vh - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
}

.socail {
    display: flex;
    position: relative;
}

.square {
    width: 18px;
    height: 18px;   
    background: #3CB878;
    margin-top: 29px;
}

.socail-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #434343;
    margin-top: 29px; 
    margin-left: 43px;
}

.socail-textgreen {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    position: absolute;
    left: 346px;
    top: 33px;
}

.socail-textgreen:hover {
    text-decoration: underline;
}

.fb > a {
    position: absolute;
    width: 160px;
    height: 48px;
    background: #305DB8;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    top: 60px;
    left: 60px;
    border-radius: 3px;
    padding-top: 8px;
    padding-left: 22px;
    box-sizing: border-box;
}

.fb > a:hover {
    background: #022263;
}

.logo-fb {
    position: absolute;
    left: 17px;
    top: 12px;
}

.fb-text {
    position: absolute;
    left: 67px;
    top: 17px;
}

.line-fb {
    position: absolute;
    height: 28px;
    border-left: 1px solid #0A162F;;
    box-sizing: border-box;
    mix-blend-mode: normal;
    opacity: 0.1;
    left: 48px;
    top: 10px;
}

.logo-google {
    position: absolute;
    left: 17px;
    top: 12px;
}

.google-text {
    position: absolute;
    left: 67px;
    top: 17px;
}

.line-g {
    position: absolute;
    height: 28px;
    border-left: 1px solid #2B0D09;
    box-sizing: border-box;
    mix-blend-mode: normal;
    opacity: 0.1;
    left: 53px;
    top: 10px;
}

.google > a {
    text-decoration: none;
    position: absolute;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 3px;
    top: 60px;
    left: 224px;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 22px;
    box-sizing: border-box;
}

.google > a:hover {
    background: #AB1F09;
}

.or {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 12px;
    position: relative;
}


.or-right {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    left: 58px;
    top: 7px;
    background: #F2F2F2;
}

.or-left {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    left: 232px;
    top: 7px;
    background: #F2F2F2;

}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 0 60px;
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

input[type="name"] {
    
    width: 322px;
    height: 42.08px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 19px;
    box-sizing: border-box;
}


input[type="last name"] {
    width: 322px;
    height: 42.08px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    padding-left: 19px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 322px;
    height: 42.08px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    padding-left: 19px;
    box-sizing: border-box;
}

input[type="password"] {
    width: 322px;
    height: 42.08px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    padding-left: 19px;
    box-sizing: border-box;
}

input[type="cnf-repeat"] {
    width: 322px;
    height: 42.08px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    padding-left: 19px;
    box-sizing: border-box;
}

.agree-container {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:#434343;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.green-span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:#3CB878;
    display: inline-block;
    margin-left: 5px;
}

.green-span:hover {
text-decoration: underline;
}

.cr-account {
    width: 329px;
    height: 44px;   
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: 1px solid #F2F2F2;
    
}

.cr-account:hover {
    background: #01813F;
}

.agree-custom-check {
    display: inline-block;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    outline: none;
  }
  
  input[type="checkbox"]:checked:before {
    content: "\2714";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transform: translate(-50%, -50%);
    color: rgba(60, 184, 120, 0.8);
    position: absolute;
    left: 10px;
    top: 10px
  }

  input[type="checkbox"]:before {
    display: none;
  }
