.clients__top {
  padding-top: 171px;
  display: flex;
  padding-bottom: 71px;
  justify-content: space-between;
  width: 1460px;
  margin: 0 auto;
  align-self: center;
}

.clients__subtile {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.clients-items {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}
.clients-items__card {
  height: 391px;
  width: 33.3%;
  @include align-centr;
  &--1 {
    background: #634f2c;
  }

  &--2 {
    background: rgba(232, 210, 171, 0.76);
    height: 391px;
    width: 33.3%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--3 {
    background: #e4b564;
  }

  &--4 {
    background: #635a4a;
  }
  &--5 {
    background: #b08c4d;
  }

  &--6 {
    background: #634f2c;
  }
}

.img-block3 {
  margin: 0 auto;
}

.text-block3 {
  padding-top: 16px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.text-simlpe {
  font-weight: 300;
}
