.services__subtile {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
    display: block;
    }
.services__text {
        font-family: 'Gilam';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: start;
        display: block;
        margin-bottom: 41px;
        }
.services-items {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            font-family: 'Gilam';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            gap: 25px;
    

            &__1 {
                background: #634F2C;
                height: 468px;
                padding-top: 220px;
                box-sizing: border-box;
                grid-column: 1 / 3;
            }
            
            &__2 {
                background: #B4A385;
                height: 468px;
                padding-top: 220px;
                box-sizing: border-box;
                grid-column: 3 / 5;
            }
            
            &__3 {
                background: #E4B564;
                height: 468px;
                
                padding-top: 220px;
                box-sizing: border-box;
                grid-column: 5 / 7;
            }
            
            &__4 {
                background: #635A4A;
                height: 468px;
                padding-top: 220px;
                box-sizing: border-box;
                grid-column: 1 / 4;
            
            }
            &__5 {
                background: #B08C4D;
                height: 468px;
                grid-column: 4 / 7;
                padding-top: 220px;
                box-sizing: border-box;
            }

        }
       
        
        