.tech {
  display: grid;
}

.tech__subtile {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 161px;
  margin-bottom: 94px;
  display: block;
}

.tech-grid {
  display: grid;
  height: 890px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 25px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  &__1 {
    grid-row-start: 1;
    grid-row-end: 5;
    padding-top: 44px;
    padding-left: 51px;
    background-color: #0a0909;

  }
  &__2 {
    grid-row-start: 1;
    grid-row-end: 6;
    padding-top: 44px;
    padding-left: 51px;
  }

  &__3 {
    grid-row-start: 1;
    grid-row-end: 4;
    padding-top: 44px;
    padding-left: 51px;
  }

  &__4 {
    grid-row-start: 5;
    grid-row-end: 11;
    padding-top: 44px;
    padding-left: 51px;
  }

  &__5 {
    grid-row-start: 6;
    grid-row-end: 11;
    padding-top: 44px;
    padding-left: 51px;
    margin-bottom: 20px;
  }

  &__6 {
    grid-row-start: 4;
    grid-row-end: 8;
    padding-top: 44px;
    padding-left: 51px;
  }

  &__7 {
    grid-row-start: 8;
    grid-row-end: 11;
    padding-top: 44px;
    padding-left: 51px;
    background-color: #0a0909;
  }
}


// зробити кольори у вигляді зміних