
.container{
    width: 1280px;
    margin: 0 auto;
}

.ra{
    margin-top: 61px;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 28px;

}
.mda{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #87cefa;
    margin-bottom: 28px;
}

.head {
    display: flex;
    width: 100%;
    background-color: #35444F;
    height: 69px;
}

.top-menu{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    width: 100%;
    gap: 70px;
    height: 69px;

}
.top-menu a{
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    background-color: #35444F;
    color: #ffffff;
    padding-top: 26px;
    padding-bottom: 19px;

}


.top-menu a:hover{
    background-color: #222F3A;
    border-left: #ffffff solid 1px ;
    border-right: #ffffff solid 1px ;
}

.side-menu{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: 1px solid #485863;
    width: 30%;
    margin-top: 25px;

}
.side-menu li a{
    display:block;
    font-size: 27px;
    line-height: 27px;
    padding: 25px 0 27px 44px;
    color: #485863;
    transition: padding-left 0.7s;
    text-decoration: none;
}
.side-menu li a:hover{
    background-color: #DBDBDB;
    padding-left: 85px;
    color: #35444F;
}

.content{
    display: inline-block;
    margin: 25px 0 0  0;
    width: 69%;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
}
.content div{
    margin-bottom: 34px;
}
.content span{
    display: block;
    margin: 0 0 34px 50px;
}

.main-img-wrapper{
    display: inline-block;
    width: 833px;
    margin-left: 45px;
    padding: 0;
    border: 1px solid #485863;
}
img{
    display: inline-block;
    padding: 75px 280px 73px 230px;
}
.photo{
    transition: transform 0.5s;
}
.photo:hover{
    transform: scale(1.1);
    cursor: grab;
}

footer{
    font-size: 0;
}
.bottom-menu{
    padding: 20px 0 20px 0;
    display: inline-block;
    margin-bottom: 30px;
    background-color: #b4b7b9;
}
.bottom-menu a{
    font-size: 28px;
    line-height: 28px;
    margin-right: 22px;
    text-decoration: none;
    color: #0C1927;
}
.bottom-menu a:hover{
    text-decoration: underline;
    color: #4682b4;
    cursor: pointer;
}
.bottom-menu div{
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    margin-left: 127px;
    margin-right: 40px;
}
