.nav {
  position: absolute;
  display: none;
  right: 20px;
  top: 57px;
  width: 180px;
  &--active {
    display: inline-block;
  }
  @include mq("tablet") {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 0;
    top: 0;
    width: 100%;
  }
  @include mq("desktop") {
  }
  &__list {
    background: map-get($colors, navBackground);
    @include mq("tablet") {
      background: map-get($colors, whiteBackground);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include mq("desktop") {
      gap: 50px;
    }
  }
  &__link {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    @include font-source-roboto(11px, map-get($colors, fontBlack), 400, 22px, 1.1px);
    &:hover {
      background: map-get($colors, navHover);
    }
    &--active {
      color: map-get($colors, hover);
    }
    @include mq("tablet") {
      &:hover {
        background: transparent;
      }
    }
    @include mq("desktop") {
      &:hover {
        background: transparent;
      }
    }
  }
}
