.title {
  text-transform: uppercase;
  padding-bottom: 5px;
  @include font-source-roboto(14px, map-get($colors, fontBlack), 700, 22px);
  &--white {
    color: map-get($colors, fontWhite);
  }
  @include mq("tablet") {
    font-size: 16px;
  }
}
