.body {
  font-family: "Montserrat";
}

.color-green {
  color: #18cfab;
}
.dark {
  background-color: #1c2a33;
}

.color-white {
  color: #fff;
}

.backgroundcolor-green {
  background-color: #18cfab;  
}

.header {
  background-image: url("../img/Sections_background/section-1\(header\).jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.wrapper {
  background-color: rgba(94, 93, 88, 0.6);
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 1160px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.octogon {
  position: relative;
}
 
.logo-icon {
  position: absolute;
  top: 18px;
  left: 13px;
  font-weight: 700;  
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
}

.logo-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.green-text {
  color: #18cfab;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 21px;
  align-items: center;
}

.nav-items {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.nav-items:last-child {
  line-height: 16px;
}
.nav-items:hover {
  color: #18cfab;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 264px;
  margin-bottom: 243px;
  justify-content: center;
}
.first-sbutile {
  font-weight: 700;
  font-size: 35px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}

.title {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}

.second-sbutile {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 127px;
}

.button-section {
  display: flex;
  gap: 26px;
}

.button {
  width: 169px;
  height: 64px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px -5px white;
  cursor: pointer;
}

.blue-button {
  background-color: #00cbf6;
  text-transform: uppercase;
  cursor: pointer;
}

.squares {
  display: flex;
}

.square {
  display: flex;
  width: 25%;
  height: 377px;
  text-transform: uppercase;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  gap: 58px;
}

.square img {
  width: 75px;
  height: 93px;
}

.services-title {
  text-align: center;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-top: 95px;
  margin-bottom: 101px;
  position: relative;
}
.services-title::before {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 56px;
  left: 50%;
  transform: translateX(-60%);
}
.services-title::after {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 60px;
  right: 50%;
  transform: translateX(60%);
}

.service-items {
  display: flex;
  justify-content: center;
  margin-bottom: 91px;
}

.service-item {
  display: flex;
  align-items: center;
  width: 194px;
  height: 72px;
  border: 1px solid #f2f2f2;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 28px;
  cursor: pointer;
}

.service-item:hover {
  border: 2px solid #18cfab;
}

.desciptions {
  display: flex;
  margin-bottom: 91px;
}

.item-desciption {
  display: flex;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  gap: 15px;
}

.service-item.active {
  background-color: #18cfab;
  color: #fff;
  position: relative;
}

.service-item.active::after {
  content: url("../img/icons/tringle.png");
  display: block;
  position: absolute;
  bottom: -14px;
}

.item-desciption {
  display: flex;
}

.wrapper-services {
  background-image: url("../img/Sections_background/section-2.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 476px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  width: 100vw;
  height: 476px;
  text-align: center;
  justify-content: center;
}

.services-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 12px;
}

.services-smalltitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin-bottom: 67px;
}

.purchase-button {
  width: 168px;
  height: 63px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px -5px white;
  text-transform: uppercase;
  cursor: pointer;
}
.section-work {
  background-color: #e9edef;
}
.work-title {
  text-align: center;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
  margin-top: 97px;
  margin-bottom: 95px;
}

.work-title::after {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 56px;
  left: 50%;
  transform: translateX(-60%);
}

.work-title::before {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 60px;
  right: 50%;
  transform: translateX(60%);
}
.work-items {
  display: flex;
  justify-content: center;
}

.work-item {
  display: flex;
  align-items: center;
  width: 194px;
  height: 72px;
  border: 1px solid #f2f2f2;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 71px;
  cursor: pointer;
}

.work-item:hover {
  border: 2px solid #18cfab;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icon-link {
  display: inline-flex;
  border: solid 1px #18cfab;
  border-radius: 50%;
  height: 40px;
  width: 41px;
  align-items: center;
  justify-content: center;
}

.icon-link svg {
  fill: #18cfab;
}
.icon-link:hover svg {
  fill: #ffffff;
}
.icon-link:hover {
  background-color: #18cfab;
}
.breakingnews-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 126px;
}

.breakingnews-item {
  display: block;
  position: relative;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #203e38;
  width: 70px;
  height: 68px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}

.date:hover {
  background-color: #18cfab;
}

.description {
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.description:hover {
  color: #18cfab;
}

.card-wrapper {
  position: relative;
}

.more-button {
  width: 168px;
  height: 63px;
  background-color: #18cfab;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  border-radius: 8px;
  border: 0;
  text-transform: uppercase;
  position: relative;
  align-items: center;
  left: 45%;
  margin-top: 70px;
  cursor: pointer;
}

.more-button::before {
  position: absolute;
  left: 15px;
  top: 12px;
  content: url(../img/icons/Forma.png);
  display: inline-block;
  width: 10px;
  margin-right: 5px;
}

.breakingnews-title {
  text-align: center;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
  margin-top: 97px;
  margin-bottom: 95px;
}

.breakingnews-title::after {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 56px;
  left: 50%;
  transform: translateX(-60%);
}

.breakingnews-title::before {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 60px;
  right: 50%;
  transform: translateX(60%);
}

.comments {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 19px;
  color: #777777;
}

.hoverCard {
  width: 284px;
  height: 206px;
  justify-content: center;
  background-color: #e9edef;
  display: none;
  flex-direction: column;
  text-align: center;
  border-top: solid 3px #18cfab;
  margin-bottom: 23px;
  box-sizing: border-box;
}

.hoverCard-text {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
}

.hoverCard-title {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}
.hover-wrapper {
  margin-bottom: 23px;
}

.galery-card:hover .hoverCard {
  display: flex;
}
.galery-card:hover img {
  display: none;
}
.galery-card img {
  width: 100%;
  height: 100%;
}
.sayabout {
  background-image: url("../img/Sections_background/section-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 853px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.galery-card {
  width: 285px;
  height: 211px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

footer {
  display: flex;
  background: #22353f;
  height: 121px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.text-footer {
  color: #18cfab;
  margin-left: 5px;
  margin-right: 5px;
}

.item-img {
  margin: 0 auto;
  border: 12px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  width: 143px;
  height: 143px;
}

.buttons {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
}  

.swiper-button-next,
.swiper-button-prev {
  width: 31px;
  height: 31px;
  background-color: transparent;
  border: 1px solid #bbb;
  position: relative;
}

.swiper-button-next:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #bbb;
  border-right: 2px solid #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-137deg);
}

.swiper-button-prev:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #bbb;
  border-right: 2px solid #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.swiper-pagination {
  display: flex;
  gap: 38px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #18cfab;
  border: none;
  cursor: pointer;
}

.sayabout-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 98px;
  position: relative;
  margin-bottom: 99px;
}

.sayabout-subtitle::after {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 56px;
  left: 50%;
  transform: translateX(-60%);
}

.sayabout-subtitle::before {
  content: "";
  width: 78px;
  position: absolute;
  border: 1px solid #18cfab;
  top: 60px;
  right: 50%;
  transform: translateX(60%);
}

.quotation-marks {
  color: #18cfab;
  text-align: center;
  font-size: 100px;
}

.sayabout-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  color: #bbbbbb;
  width: 1160px;
  margin-bottom: 37px;
  text-align: center;
  align-items: center;
}

.dis-none {
  display: none;
}

.swiperitem-img {
  width: 60px;
  height: 60px;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 50px;
}

.proffesion {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  text-transform: capitalize;
}

.swiperitem-img {
  width: 58px;
  height: 58px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 6px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}

.swiperitem-img.focus {
  transform: translateY(-5px);
}
