.footer {
  background: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 53px;

  &__link {
    display: flex;
    padding: 12px 33px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 139px;
    border: 1px solid var(--Gray-6, #f2f2f2);
    text-decoration: none;
    margin-bottom: 113px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 34px;
  }

  &__copyright {
    color: #fff;
    text-align: center;
    font-family: "Manrope";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 21px;
  }

  &-link {
    &__img {
      width: 52px;
      height: 51px;
      display: block;
    }

    &__title {
      color: #fff;
      text-align: center;
      font-family: "DynaPuff";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__text {
      color: #fff;
      text-align: center;
      font-family: "Manrope";
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &::after {
        content: "";
        display: inline-block;
        margin-left: 24px;
        width: 32.788px;
        height: 15.5px;
        background-size: 100% 100%;
        background-image: url("../images/icons/arrow-footer.svg");
      }
    }
  }

  @media (min-width: 768px) {
    .footer-link {
      justify-content: space-between;
      &__img {
        width: 108px;
        height: 108px;
        display: block;
      }
      &__title {
        font-size: 48px;
      }
      &__text {
        font-size: 24px;
      }
      &__copyright {
        font-size: 16px;
      }
    }
  }
}
