.gallery {
  background-color: #3c3c3c;
  padding-bottom: 85px;

  &__item {
    padding-top: 52px;

    &--show-desck {
      display: none;
    }

    &--show-tablet {
      display: none;
    }
  }
  &-item--big {
    & .gallery__link {
      grid-template-rows: 498px;
    }
    & .gallery__title {
      font-size: 40px;
    }
  }
  &__title {
    color: #565656;
    font-family: "DynaPuff";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;
  }

  &__text {
    color: #000;
    font-family: "Manrope";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 22px;
  }

  &__link {
    background-color: #fffef2;
    border-radius: 24px;
    padding: 16px;
    display: block;
    text-decoration: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      right: 32px;
      width: 56px;
      height: 56px;
      background-color: #fffef2;
      background-image: url("../images/icons/fi-rr-arrow-up.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60% 60%;
      border-radius: 50%;
    }
  }

  &__img {
    max-width: 100%;
    border-radius: 13px;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .gallery {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 102px;
      column-gap: 40px;

      & li:first-child {
        grid-column: span 2;
      }
    }

    &__item {
      &--show-tablet {
        display: block;
      }
    }

    &__link {
      display: grid;
      grid-template-rows: 448px max-content;
      height: 100%;
    }

    &__img {
      display: inline-block;
      height: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .gallery {
    &__list {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 102px;
      column-gap: 40px;

      & li:first-child {
        grid-column: span 3;
      }
    }

    &__item {
      &--show-desck {
        display: block;
      }

      &--show-tablet {
        display: block;
      }
    }
  }
}
