.graphics {
  background-color: #202020;
  padding-top: 58px;
  padding-left: 16px;
  padding-bottom: 93px;
  padding-right: 21px;
  &__title {
    color: #fff;
    font-family: "DynaPuff";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__img {
    padding-top: 28px;
    width: 100%;
    min-height: 325px;
  }
  &__item {
    position: relative;
    &--orang-element::after {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
      content: url("../images/icons/Soft_Star.svg");
    }
    &--yellow-elemant::after {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
      content: url("../images/icons/Butterfly.svg");
    }
    &--blue-element::after {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
      content: url("../images/icons/Asterisk1.svg");
    }
  }
}

@media (min-width: 768px) {
  .graphics {
    &__title {
      font-size: 80px;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 26px;
      column-gap: 34px;

      & li:first-child {
        grid-column: span 2;
      }
    }
  }
}
