.header__content {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  z-index: 4;
}

.header.active {
  position: fixed;
  height: 92px;
  top: 0;
  width: 100%;
  background-color: #202020;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  z-index: 2;
}

.header {
  color: white;

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
  }

  &__link {
    margin-left: 16px;
    margin-top: 27px;
  }

  &__button {
    display: none;
  }
  &__button--b {
    width: 56px;
    height: 56px;
    background: transparent;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-right: 16px;
    margin-top: 27px;
  }
}

@media (min-width: 768px) {
  .header {
    &__content {
      max-width: 100%;
    }
  }

  .header__img {
  }
}

@media (min-width: 1200px) {
  .header {
    &__button--b {
      display: none;
    }
    &__list {
      display: flex;
    }
    &__button {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      color: #fff;
      font-family: "Manrope";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 20px;
      border: 1px solid #fff;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-left: 16px;
      margin-top: 27px;
    }
  }
}
