.introduce {
  background-color: #202020;
  position: relative;
  max-width: 100%;
  padding-top: 72px;
  overflow-x: hidden;
  padding-bottom: 76px;
  padding-right: 150px;
  box-sizing: border-box;
  &::after {
    content: "";
    background-image: url("../images/Group3.png");
    width: 404px;
    margin: auto;
    background-size: 100% 100%;
    background-position: center;
    display: block;
    position: absolute;
    right: -254px;
    top: 0;
    bottom: 0;
  }
  &__title {
    font-family: "DynaPuff";
    color: #faeb49;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 16px;
  }

  &__text {
    font-family: "Manrope";
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 40px;
    padding-left: 16px;
  }
}

.introduce-stat {
  display: flex;
  padding-top: 40px;
  padding-left: 16px;
  justify-content: space-between;
  &__nubmer {
    font-family: "DynaPuff";
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }

  &__text {
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .introduce {
    padding-right: 30%;
    &::after {
      right: -150px;
    }
  }
}
