.main {
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
  min-width: 320px;
  height: 800px;
  &__title {
    width: 326px;
    height: 239px;
    color: #fff;
    font-family: "DynaPuff";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 21px;
    margin-bottom: 149px;
    padding-top: 329px;
  }
}

@media (min-width: 768px) {
  .main__title {
    font-size: 80px;
  }
}
