.quote {
  background-image: url("/images/Rectangle8.png");
  background-size: cover;
  background-position: center;
  height: 498px;
  align-items: center;
  text-align: center;
  display: flex;
  background-repeat: no-repeat;
  &__text {
    color: #fff;
    font-family: "DynaPuff";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (min-width: 768px) {
  .quote {
    height: 800px;
    align-items: center;
    display: flex;
    &__text {
      font-size: 48px;
    }
  }
}

@media (min-width: 1200px) {
  .quote {
    height: 800px;
  }
}
