// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "base/reset";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Manrope:wght@500;700&display=swap");
@import "base/base";
@import "sections/header";
@import "sections/main-section";
@import "sections/introduce";
@import "sections/gallery";
@import "sections/graphics";
@import "sections/quote";
@import "sections/footer";

body {
  overflow-x: hidden;
}
body img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1050px;
  padding-left: 16px;
  padding-right: 16px;
}
