@import 'reset';

@import url('https://fonts.cdnfonts.com/css/gilam');

body {
    background-color: #171717;
}


.container{
    width: 1460px;
    margin: 0 auto;
    align-self: center;
}



.black {
    background-color: $black;
}

.darkgray {
    background: $darkgray;
}


.grey {
    background: $grey;
}

.sand {
    background: $sand;
}

.lightblack {
    background: $lightblack;
}

.blacktext {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: $black;
}

.boldtext {
    font-weight: 700;
}