@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&family=Roboto:wght@400;700;900&family=Splash&display=swap');

body {
    width: 1280px;
    background-color: var(--main-bg-color);
    --main-bg-color: white;
    --main-text-color : #373737;
}
.dark {
    --main-bg-color: rgb(4, 4, 4) ; 
    --main-text-color : #fdfcfc;
}

a {
    display: inline-block;
    color: #FF0000;
    cursor: pointer;
    text-decoration: none;
    padding-left: 72px;
}
.menu-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    margin-left: 330px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color:var( --main-text-color);
    text-align: center;
    margin: 38px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color:var( --main-text-color);
    margin: 28px;
}

.button {
    display: block;
    text-align: center;
    background-color: #FF0000;
    border-radius: 4px;
    border-style: none;
    width: 191px;
    height: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 66px 544.5px 42px 544.5px;
}

footer {
    margin-top: 40px;
    margin-left: 713px;
    width: 1070px;
    height: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color:var( --main-text-color);
    
}