/* styles.css */

.card {
    border: 2px solid #3498db;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
    margin: 0;
    font-size: 20px;
    color: #3498db;
}

.user-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.post-info h3 {
    margin: 15px 0 10px;
    font-size: 18px;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

#add-post-btn {
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-post-btn:hover {
    background-color: #2980b9;
}

#submit-post-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-post-btn:hover {
    background-color: #218c53;
}

#loading-animation {
    text-align: center;
    color: #3498db;
    font-size: 24px;
}