body {
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 1028px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    margin-top: 51px;
    margin-left: 20px;
    margin-right: 20px;
}

.email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    flex-direction: column;
    text-align: end;
    display: flex;
    gap: 19px;
}

.email:hover {
    color: #F26522;
}

.phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    flex-direction: column;
    text-align: end;
    display: flex;
    gap: 19px;
}

.phone:hover {
    color: #F26522;
}


.image-item:hover {
    color: #F26522;
    display: block;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    position: relative;
    
}
.image-item {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 37px;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}


.milan {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.footer {
    position: relative;
    bottom: -50px;
    left: 360px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding-bottom: 15px;}

.milan {
    display: flex;
    position: relative;
    
}

.milan:hover {
    color: #F26522;
}


.icon {
    width: 53px;
    height: 47px;
    background-image: url(../img/logo\ 3.svg);
}

.icon:hover {
    background-image: url(../img/logo\ 2.svg) ;
}


.milan-text {
    display: block;
    position: absolute;
    left: 65px;
    top: -5px;
}

a {
    text-decoration: none;
}

.text-item {
    margin-top: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 301px;
    height: 55px;
    padding: 7px 16px 12px;
    background: #F26522;
    position: absolute;
    top: 202px;
    left: 26px;
    opacity: 0;
    transition: opacity 1.3s ease-out;
}

.image-item:hover .details{
    opacity: 1;
}



.details-item {
    background-color: #F26522;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.right {
    padding-top: 18px;
}

.decor {
    padding-left: 20px;
    display: block;
}